/********************** TAG SELECTORS********************/


body {
  background-color: #EAF6F6;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 10%;
}

h1 {
  text-align: center;
  font-size: 40px;
  color: #66BFBF
}

h2 {
  text-align: center;
  font-size: 30px;
  color: #68b0ab;
  font-style: italic;
}

p {
  font-size: 20px;
  text-align: center;
}

/********************** CLASS SELECTORS********************/

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.circular {
  border-radius: 100%;
}

.link {
  text-align: center;
  font-size: 30px;
  color: #68b0ab;
  font-style: italic;
}

.GoogleMaps {
  display: block;
  font-size: 20px;
  text-align: center;
  color: #68b0ab;
}

.GoogleMaps:hover {
  font-size: 30px;
   transition: background-color .5s;
}


/********************** ID SELECTORS *******************/
